@inherits TimedOnlyComponent
<div>

    <PrimaryButton IsEnabled="_canUnlockAnotherAppleTree"
                   OnClick="UnlockAppleTreeAsync">
        Unlock Apple Tree
    </PrimaryButton>
    <PrimaryButton IsEnabled="_canLockAppleTree"
                   OnClick="LockAppleTreeAsync">
        Lock Apple Tree
    </PrimaryButton>
    <PrimaryButton IsEnabled="_canUnlockPeachTree"
                   OnClick="UnlockPeachTreeAsync">
        Unlock Peach Tree
    </PrimaryButton>

    <PrimaryButton IsEnabled="_canUnlockAnotherWindmill"
                   OnClick="UnlockWindmillAsync">
        Unlock Windwill
    </PrimaryButton>
    <PrimaryButton IsEnabled="_canLockWindmill"
                   OnClick="LockWindmillAsync">
        Lock Windmill
    </PrimaryButton>
    <PrimaryButton IsEnabled="_canUnlockPastryOven"
                   OnClick="UnlockPastryOvenAsync">
        Unlock Pastry Oven
    </PrimaryButton>
</div>
<div>
    <PrimaryButton IsEnabled="_canUnlockAnotherCow"
                   OnClick="UnlockCowAsync">
        Unlock Cow
    </PrimaryButton>
    <PrimaryButton IsEnabled="_canLockCow"
                   OnClick="LockCowAsync">
        Lock Cow
    </PrimaryButton>
    <PrimaryButton IsEnabled="_canUnlockChicken"
                   OnClick="UnlockChickenAsync">
        Unlock Chicken
    </PrimaryButton>

    <PrimaryButton IsEnabled="_canIncreaseCowOptions"
                   OnClick="IncreaseCowOptionsAsync">
        Increase Cow Options
    </PrimaryButton>
    <PrimaryButton IsEnabled="_canDecreaseCowOptions"
                   OnClick="DecreaseCowOptionsAsync">
        Decrease Cow Options
    </PrimaryButton>
    <PrimaryButton IsEnabled="_canIncreaseChickenOptions"
                   OnClick="IncreaseChickenOptionsAsync">
        Increase Chicken Options
    </PrimaryButton>
    <PrimaryButton IsEnabled="_canDecreaseChickenOptions"
                   OnClick="DecreaseChickenOptionsAsync">
        Decrease Chicken Options
    </PrimaryButton>
</div>
<div>
    <PrimaryButton
        IsEnabled=_canUnlockCorn
        OnClick="UnlockCornAsync"
    >
        Unlock Corn
    </PrimaryButton>
    <PrimaryButton
        IsEnabled="_canLockCorn"
        OnClick="LockCornAsync"
    >
        Lock Corn
    </PrimaryButton>
    <PrimaryButton
        IsEnabled="_canUnlockWheat"
        OnClick="UnlockWheatAsync"
    >
        Unlock Wheat
    </PrimaryButton>
    <PrimaryButton
        IsEnabled="_canLockWheat"
        OnClick="LockWheatAsync"
    >
        Lock Wheat
    </PrimaryButton>
    <PrimaryButton
        IsEnabled="_canUnlock3Slots"
        OnClick="Unlock3SlotsAsync"
    >
        Unlock 3 Slots
    </PrimaryButton>
    <PrimaryButton
        IsEnabled="_canLockSlots"
        OnClick="LockSlotsAsync"
    >
        Lock 1 Slot
    </PrimaryButton>
</div>
<div>
    <PrimaryButton
        IsEnabled="_canUnlockGrandmasGlade"
        OnClick="UnlockGrandmasGladeAsync"
    >
        Unlock Grandmas Glade
    </PrimaryButton>
    <PrimaryButton
        IsEnabled="_canLockGrandmasGlade"
        OnClick="LockGrandmasGladeAsync"
    >
        Lock Grandmas Glade
    </PrimaryButton>
    <PrimaryButton
        IsEnabled="_canUnlockPond"
        OnClick="UnlockPondAsync"
    >
        Unlock Pond
    </PrimaryButton>
    <PrimaryButton
        IsEnabled="_canLockPond"
        OnClick="LockPondAsync"
    >
        Lock Pond
    </PrimaryButton>
</div>
<div>
    <PrimaryButton IsEnabled=_canUnlockToby
                   OnClick="UnlockTobyAsync">
        Unlock Toby
    </PrimaryButton>
    <PrimaryButton IsEnabled="_canLockToby"
                   OnClick="LockTobyAsync">
        Lock Toby
    </PrimaryButton>
    <PrimaryButton IsEnabled="_canUnlockBob"
                   OnClick="UnlockBobAsync">
        Unlock Bob
    </PrimaryButton>
    <PrimaryButton IsEnabled="_canLockBob"
                   OnClick="LockBobAsync">
        Lock Bob
    </PrimaryButton>
    <PrimaryButton IsEnabled="_canUnlockDaniel"
                   OnClick="UnlockDanielAsync">
        Unlock Daniel
    </PrimaryButton>
    <PrimaryButton IsEnabled="_canLockDaniel"
                   OnClick="LockDanielAsync">
        Lock Daniel
    </PrimaryButton>
    <PrimaryButton IsEnabled="_canLockAlice"
                   OnClick="LockAliceAsync">
        Lock Alice
    </PrimaryButton>
</div>